#my0{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#mylabel{
    text-align: center;
    font-size: 20px;
    color: #051515;
    font-family: 'segoe UI';
    font-weight: 500;
}

#myinput{
   text-align: center;
   margin: 0.5em auto;
   padding: 0.5em;
   color: #000000;
   cursor: pointer;
   width: 150px;
}

#mybtn{
    display: block;
    text-align: center;
    padding: 0.5em;
    color: #000000;
    cursor: pointer;
    width: 100px;
}